:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #afb1b8;
  --first-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #e5e5e5;
  --acent-color: #2196f3;
  --padding-mobile: 60px;
  --padding-desctop: 94px;
  --margin-right-icons: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  padding-top: 64px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--flex {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--acent-color);
  text-decoration: none;
}
.logo--dark-theme {
  color: #212121;
}
.logo--light-theme {
  color: var(--first-background-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  transform: translateX(0) scale(1);
  width: 100vw;
  height: 100%;
  background-color: var(--first-background-color);
  z-index: 5;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%) scale(0.5);
}
.mob-menu--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 25px 48px 40px;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .mob-menu--container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
.mob-menu__list {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__contact-list {
  margin: 0 0 64px 0;
  padding: 0;
  list-style: none;
}
.mob-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__contact-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}
.mob-menu__contact-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--acent-color);
  text-decoration: none;
}
.mob-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 10px;
  list-style: none;
}
.mob-menu__social-item:not(:last-child)::after {
  height: 100%;
  margin-left: 10px;
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.mob-menu__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--acent-color);
  text-decoration: none;
}

.mob-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--acent-color);
}
.mob-menu__link--active {
  color: var(--acent-color);
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: var(--first-background-color);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-icon {
  width: 100%;
  height: 100%;
  fill: var(--first-text-color);
}

.menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-25px) translateY(16px);
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: var(--first-background-color);
}

.menu-close-icon {
  width: 100%;
  height: 100%;
  fill: var(--first-text-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: inline-block;
  }
  .site-nav__list {
    display: inline-flex;
    margin: 0;
    padding: 7px 0;
    list-style: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 93px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-right: 50px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--acent-color);
}
.site-nav__link--active::after {
  position: absolute;
  left: 0;
  margin-top: 33px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .site-nav__link--active::after {
    margin-top: 28px;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding: 7px 0;
    list-style: none;
  }
  .contacts__item:first-child {
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--acent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
}
.contacts__icon:hover, .contacts__icon:focus {
  fill: var(--acent-color);
}

.button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--first-background-color);
  background-color: var(--acent-color);
  border-color: var(--acent-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button--lower {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.button__icon {
  margin-left: 10px;
  fill: var(--second-background-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button--modal {
  margin-top: 30px;
  padding: 10px 55px;
  background-color: var(--acent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--modal:hover, .button--modal:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.backdrop--hidden .modal {
  transform: translate(-50%, 0) scale(0.5) rotate(-180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 100%;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal__text {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: var(--first-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
}

.authentication__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.authentication__field {
  position: relative;
}
.authentication__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  fill: var(--first-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication__checklabel {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .authentication__checklabel {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.authentication__checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-text-color);
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication__checkicon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication__checklink {
  color: var(--acent-color);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.authentication__input {
  display: block;
  padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 1.1666666667;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication__input:focus, .authentication__input:not(:placeholder-shown) {
  border-color: var(--acent-color);
  outline: var(--acent-color);
}
.authentication__input:focus + .authentication__icon, .authentication__input:not(:placeholder-shown) + .authentication__icon {
  transform: translate(-100%, 50%);
  fill: var(--acent-color);
}
.authentication__input:checked + .authentication__checklabel span {
  background-color: var(--acent-color);
  border-color: var(--acent-color);
}
.authentication__input:checked + .authentication__checklabel .authentication__checkicon {
  fill: var(--first-background-color);
}

.authentication__textarea {
  display: block;
  margin-bottom: 20px;
  padding: 10px 0 0 10px;
  font-size: 12px;
  line-height: 1.1666666667;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authentication__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.authentication__textarea:focus, .authentication__textarea:not(:placeholder-shown) {
  border-color: var(--acent-color);
  outline: var(--acent-color);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: rgba(0, 0, 0, 0.1);
}
.close-btn__icon {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  fill: rgb(0, 0, 0);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: var(--acent-color);
}

.social-network {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-network__card:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--third-text-color);
}
.social-network__link--light-theme {
  color: var(--first-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-network__link:hover .social-network__icon, .social-network__link:focus .social-network__icon {
  color: var(--first-background-color);
  background-color: var(--acent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 25ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 25ms;
}
.social-network__link:focus {
  outline: none;
}

.social-network__icon {
  fill: currentColor;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 25ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 25ms;
}
.social-network__icon:hover, .social-network__icon:focus {
  fill: var(--first-background-color);
  background-color: var(--acent-color);
}

.address {
  margin-top: 20px;
}
.address__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7142857143;
  font-style: normal;
  color: var(--first-background-color);
}
.address__container {
  display: inline-flex;
  flex-direction: column;
}
.address__link {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.7142857143;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
}
.address__link:hover, .address__link:focus {
  color: var(--acent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: inline-flex;
    flex-direction: column;
  }
}
.subscription__label {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-background-color);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .subscription__label {
    margin-top: 0;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .subscription__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__container {
    display: inline;
  }
}
.subscription__input {
  margin-bottom: 20px;
  padding: 0px 16px 0px 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .subscription__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.subscription__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .card-set {
    flex-basis: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .card-set {
    justify-content: start;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.card-set__container {
  position: relative;
  overflow: hidden;
}
.card-set__photo {
  display: block;
  max-width: 100%;
  height: 294px;
}
.card-set__case {
  margin-top: 0;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background-color: var(--first-background-color);
}
.card-set__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-set__description {
  font-size: 16px;
  line-height: 1.875;
  color: var(--second-text-color);
}

.card-set__item {
  margin: 0 auto;
  padding-right: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc((100% - 60px) / 3);
  }
}
.card-set__item:hover, .card-set__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.card-set__overlay {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  cursor: pointer;
}
.card-set__item:hover .card-set__overlay {
  transform: translateY(-100%);
}

.card-set__overlay-text {
  position: absolute;
  padding: 77px 24px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
@media screen and (min-width: 768px) {
  .card-set__overlay-text {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__overlay-text {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.card-set__item:hover .card-set__overlay-text {
  opacity: 1;
}

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--first-background-color);
  border-bottom: 1px solid #ececec;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.page-header--flex {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .page-header--flex {
    justify-content: space-between;
    flex-basis: 33.3333%;
  }
}
@media screen and (min-width: 1200px) {
  .page-header--flex {
    justify-content: start;
  }
}

.primary {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(196, 196, 196);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .primary {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-photo-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .primary {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-photo-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .primary {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-photo-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .primary {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-photo-desctop.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .primary {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-photo-desctop@2x.jpg");
  }
}
.primary__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-background-color);
}
@media screen and (min-width: 1200px) {
  .primary__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.advantages {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: var(--padding-desctop);
    padding-bottom: var(--padding-desctop);
  }
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
  }
}
.advantages__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--second-background-color);
}
.advantages__name {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__name {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__name {
    text-align: left;
  }
}
.advantages__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--second-text-color);
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activity {
    padding-bottom: var(--padding-desctop);
  }
  .activity__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    text-align: center;
  }
  .activity__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .activity__item:not(:last-child) {
    margin-right: var(--margin-right-icons);
  }
  .activity__container {
    position: relative;
  }
  .activity__image {
    display: block;
  }
  .activity__text {
    position: absolute;
    width: 100%;
    height: 24%;
    transform: translateY(-100%);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.team {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);
  text-align: center;
  background-color: var(--second-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--padding-desctop);
    padding-bottom: var(--padding-desctop);
  }
}
.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  gap: 30px;
}
.team__member {
  background-color: var(--first-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__member {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    width: calc((100% - 90px) / 4);
  }
}
.team__image {
  display: block;
  max-width: 100%;
}
.team__container {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__container {
    padding-bottom: 30px;
  }
}
.team__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--second-text-color);
}

.clients {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--padding-desctop);
    padding-bottom: var(--padding-desctop);
  }
}
.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
  list-style: none;
}
.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: var(--third-text-color);
  border: 1px solid var(--third-text-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--acent-color);
  border-radius: 4px;
}
.clients__link:focus {
  outline: none;
}

.clients__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--acent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #2f303a;
}
@media screen and (min-width: 1200px) {
  .page-footer--container {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .page-footer--flex {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer--flex {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__contacts-container {
    margin-right: 70px;
    text-align: left;
  }
}
.page-footer__logo {
  margin-right: 0;
}
.page-footer__network-container {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .page-footer__network-container {
    margin-top: 0;
  }
}
.page-footer__network-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--first-background-color);
}
@media screen and (min-width: 1200px) {
  .page-footer__network-text {
    text-align: left;
  }
}

.projects {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);
}
@media screen and (min-width: 1200px) {
  .projects {
    padding-top: var(--padding-desctop);
    padding-bottom: var(--padding-desctop);
  }
}
.projects__btn-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto 40px auto;
  row-gap: 15px;
  column-gap: 8px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .projects__btn-list {
    max-inline-size: none;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__btn-list {
    margin-bottom: 50px;
  }
}

.projects__btn {
  display: flex;
  margin: 0;
  padding: 0 22px;
  justify-content: center;
  align-items: center;
  min-width: 73px;
  height: 38px;
  font-family: inherit;
  font-style: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: var(--second-background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
.projects__btn:hover, .projects__btn:focus {
  color: var(--first-background-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}/*# sourceMappingURL=main.css.map */