.projects {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-mobile);

  @include desctop {
    padding-top: var(--padding-desctop);
    padding-bottom: var(--padding-desctop);
  }

  &__btn-list {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0 auto 40px auto;

    row-gap: 15px;
    column-gap: 8px;

    list-style: none;

    @include tablet {
      max-inline-size: none;
      justify-content: center;
      gap: 8px;

      margin-bottom: 30px;
    }

    @include desctop {
      margin-bottom: 50px;
    }
  }
}

.projects__btn {
  display: flex;
  margin: 0;
  padding: 0 22px;
  justify-content: center;
  align-items: center;

  min-width: 73px;
  height: 38px;

  font-family: inherit;
  font-style: inherit;

  @include font(16px, 500, calc(26 / 16), 0.03em);

  color: var(--first-text-color);
  background-color: var(--second-background-color);

  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;

  &:hover,
  &:focus {
    color: var(--first-background-color);
    background-color: var(--acent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  }
}
