.address {
  margin-top: 20px;
  &__text {
    margin: 0;

    @include font(14px, null, calc(24 / 14), null);

    font-style: normal;

    color: var(--first-background-color);
  }

  &__container {
    display: inline-flex;
    flex-direction: column;
  }

  &__link {
    display: block;
    margin-top: 8px;

    @include font(14px, null, calc(24 / 14), null);

    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    outline: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;

    &:hover,
    &:focus {
      color: var(--acent-color);

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 20ms;
    }
  }
}
