.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: center;

  @include mobile {
    flex-basis: calc(100% - 30px);
  }

  @include tablet {
    justify-content: start;
    flex-basis: calc((100% - 60px) / 2);
  }

  @include desctop {
    flex-basis: calc((100% - 90px) / 3);
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__photo {
    display: block;
    max-width: 100%;
    height: 294px;
  }

  &__case {
    margin-top: 0;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    background-color: var(--first-background-color);
  }

  &__title {
    margin-bottom: 4px;

    @include font(18px, 700, calc(36 / 18), 0.06em);
  }

  &__description {
    @include font(16px, null, calc(30 / 16), null);

    color: var(--second-text-color);
  }
}

.card-set__item {
  margin: 0 auto;
  padding-right: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;

  @include tablet {
    width: calc((100% - 30px) / 2);

    margin: 0;
  }

  @include desctop {
    width: calc((100% - 60px) / 3);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  }
}

.card-set__overlay {
  position: absolute;
  display: inline-block;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  cursor: pointer;

  .card-set__item:hover & {
    transform: translateY(-100%);
  }
}

.card-set__overlay-text {
  position: absolute;
  padding: 77px 24px;
  text-align: center;

  @include font(18px, null, calc(28 / 18), null);

  color: #ffffff;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;

  @include tablet {
    padding-top: 49px;
  }

  @include desctop {
    padding-top: 63px;
    padding-bottom: 63px;
  }

  .card-set__item:hover & {
    opacity: 1;
  }
}
