:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #afb1b8;
  --first-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #e5e5e5;
  --acent-color: #2196f3;

  --padding-mobile: 60px;
  --padding-desctop: 94px;
  --margin-right-icons: 30px;
}
